{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'database/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'database/_inc/css/_header.css' %}">
    <link rel="stylesheet" href="{% static 'database/css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&
          display=swap" rel="stylesheet">
    {% block static_link %}

    {% endblock %}
    <title>Hospital</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            {% include 'database/_inc/_header.html' %}
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>
