$font-nunito: 'Nunito', sans-serif; 

$oceanic-blue: #6697CA;
$dark-blue: #45719E;

body {
    background: #F9F9F9;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.wrapper {
    padding: 0 15px
}