{% extends 'database/base.html' %}
{% load static %}
{% block static_link %}
<link rel="stylesheet" href="{% static 'database/css/doctor.css' %}">
{% endblock %}

{% block content %}
<main class="main">
    <div class="doctor_info">
        <p class="doctor_specialization bold-text-weight">
            Врач-{{ doctor.doctor_specialization_id.specialization_name | lower }}
        </p>
        <p class="doctor_fullname">
            {{ doctor.doctor_last_name}} {{ doctor.doctor_first_name }} 
            {% if doctor.doctor_second_name %}
                {{ doctor.doctor_second_name }}
            {% endif %}
        </p>
        <p class="doctor_department">
            Отделение: {{ doctor.doctor_department_id.department_name }}
        </p>
        <p class="doctor_experience">
            Опыт работы: {{ doctor.doctor_experience }}
        </p>

        <a href="#" class="doctor_button doctor_change">Изменить</a>
    </div>

    <div class="doctor_chart">
        <p class="chart_title bold-text-weight">
            График работы
        </p>
        {% for chart_day in chart %}
            <p class="chart_day">
                {{ chart_day }}
            </p>
        {% endfor %}
        <a href="#" class="doctor_button doctor_chart_change">Изменить</a>
    </div>

    <div class="doctor_visit">
        <p class="visit_title bold-text-weight">
            Ближайшие посещения
        </p>
        {% for visit_item in visit %}
                <a href="{{ visit_item.get_absolute_url }}" class="visit_info">
                    {{ visit_item }}
                </a>
        {% endfor %}
        <a href="#" class="doctor_button doctor_chart_change">Изменить</a>
    </div>
</main>

{% endblock %}

